/*General Stylesheet of websites*/
body {
   background-color: #B7D7E8;
   margin-left: auto;
   margin-right: auto;
}
/*Changes image filter or style*/
img{ 
  filter: brightness(150%);
  text-align:center;
}
/*Invdividual content*/
.border {
    background-color: #F0F8FF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;	
    margin-bottom: 80px;
    width:55%; 
	text-align: Center;
}
